
<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<a href="/"><button type="button" class="btn btn-primary">home</button></a>
<a href="{% url 'newproject' %}"<button type="button" class="btn btn-primary">new project</button></a>

{% if user.is_authenticated %}

<h1> {{user.username}}'s Dashboard </h1>

{% for project in projects %}
<!-- TODO(Dustin): Make a project card template -->
<div>
    <h3> {{project.title}} </h3>
    <a href="/projects/{{project.id}}"> view </a>
    <a> delete </a> 
</div>
{% endfor %}

{% else %}
  <a href="{% url 'login' %}">Please sign in to view your dashboard</a>
{% endif %}
{% endblock %}
