{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- TODO(Dustin): Move this to navabar template -->
{% if user.is_authenticated %}

  <a href="{% url 'home' %}"><button type="button" class="btn btn-primary">new post</button></a>
  <a href="{% url 'dashboard' %}"><button type="button" class="btn btn-primary">dashboard</button></a>
  <a href="{% url 'home' %}"><button type="button" class="btn btn-primary">subscriptions</button></a>
  <a href="{% url 'logout' %}"><button type="button" class="btn btn-primary">logout</button></a>
  <br>Hi <b>{{ user.username }}!</b><br>

{% else %}

  <p>You are not logged in</p>
  <a href="{% url 'login' %}"><button type="button" class="btn btn-primary">login</button></a>
  <a href="{% url 'signup' %}"><button type="button" class="btn btn-primary">signup</button></a>

{% endif %}

<!-- TODO(Dustin): Move this to header template -->
<h1> {{APPNAME}}... </h1>
<!-- TODO(Dustin): Move to featured projects template -->
<h2> Featured projects</h2>

{% for project in projects %}
<div class="ProjectCard">
  <h3><a href="projects/{{project.id}}">{{project.title}}</a></h3>
  <h6> {{project.author.username}} </h6>
  <p> {{project.description}} </p>
</div>
{% endfor %}

{% endblock %}
