{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- TODO(Dustin): Move this to navabar template -->
{% if user.is_authenticated %}

  Hi <b>{{ user.username }}!</b>
  <a href="{% url 'home' %}">new post</a>
  <a href="{% url 'dashboard' %}">dashboard</a>
  <a href="{% url 'home' %}">subscriptions</a>
  <a href="{% url 'logout' %}">logout</a>

{% else %}

  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  <a href="{% url 'signup' %}">signup</a>

{% endif %}

<!-- TODO(Dustin): Move this to header template -->
<h1> {{APPNAME}}... </h1>
<!-- TODO(Dustin): Move to featured projects template -->
<h2> Featured projects</h2>

{% for project in projects %}
<div class="ProjectCard">
  <h3><a href="projects/{{project.id}}">{{project.title}}</a></h3>
  <h6> {{project.author.username}} </h6>
  <p> {{project.description}} </p>
</div>
{% endfor %}

{% endblock %}
